body {
    background-color: #181818;
}

.ondemand {
    background-color: #d22d2d !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e1313, #d22d2d) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e1313, #d22d2d) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ondemand #time {
    font-size: 1.9rem !important;
}

.section-dark {
    background-color: #181818 !important;
}

.section-dark h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif !important;
    color: #fff;
}

.dark #footer .widget .widget-title,
.dark #footer .widget h4,
#footer.inverted .widget .widget-title,
#footer.inverted .widget h4,
#footer.dark .widget .widget-title,
#footer.dark .widget h4 {
    color: #a4a4a6 !important;
    font-weight: 900 !important;
}

.section-dark h1 {
    font-weight: 900 !important;
    margin-bottom: 0;
}

.section-dark img {
    width: 500px;
    height: auto;
}

.input-group .advertisefc {
    height: 30px !important;
}

.footer-content img {
    width: 200px !important;
}

.iphone-sec2 {
    width: 550px !important;
}

.section-dark .ac-item {
    background-color: #2e2e2e !important;
}

.section-dark .ac-title {
    font-size: 2rem !important;
}

.background-white h3 {
    color: #121212;
    font-weight: 900;
}

.ondemand section {
    background-color: transparent !important;
    padding-top: 40px !important;
}

.apps .col-part {
    
    padding: 40px;
    background-color: #a4a4a6;
}
